<br><br><br><br>
<div style="color: white">
  <h4>Welcome <%= current_user.username %>! You are successfully logged in.</h4>

  <h1>My Restaurants</h1>
  <ol>
  <% @restaurants.each do |r| %>
    <li><h3><%= link_to r.name, restaurant_path(r) %></h3> </li>
  <% end %>
  </ol>
  <br>
  <%= button_to "Create New Restaurant", new_restaurant_path, method: :get%><br>
</div>
