<h1>my restaurants</h1>
<ol>
<% @restaurants.each do |r| %>
  <li><%= link_to r.name, restaurant_path(r) %> </li>
<% end %>
</ol>

<%=link_to "Create New Restaurant", new_restaurant_path %><br>
<%= link_to "Back to Home", welcome_path %><br>
<%= link_to "Log Out", signout_path %>
