<h1>Your Locations</h1>
<ul>
<% @locations.each do |location| %>
  <li> <%= link_to location.city_and_state, location_path(location) %> </li>
<% end %>
</ul>

<%= link_to "Create a New Location", new_location_path %><br>
<%= link_to "Back to Home", welcome_path %>
